<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>621075193625-6lbpbkqp4liud3a093l30gdnffimu26r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.621075193625-6lbpbkqp4liud3a093l30gdnffimu26r</string>
	<key>API_KEY</key>
	<string>AIzaSyBPNUUB1IHgP7Q8UxfYk5rKCqRMa9Ehwmk</string>
	<key>GCM_SENDER_ID</key>
	<string>621075193625</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fluterBlocApp</string>
	<key>PROJECT_ID</key>
	<string>project1-eef5f</string>
	<key>STORAGE_BUCKET</key>
	<string>project1-eef5f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:621075193625:ios:084f055ab9e4d6133faf88</string>
</dict>
</plist>